<div class="row m-0 p-0 h-100">
  <div class="col-5 m-0 h-100 d-flex flex-column">
    <div class="app-view__title py-3 px-2"> Personal info </div>
    <mat-card class="d-flex flex-column px-0 mat-elevation-z8 flex-grow-1" style="height: 5px !important;">
      <app-employee-details [employee]="personalInfo" [ispersonalDetails]="true" class="h-100"></app-employee-details>
    </mat-card>
  </div>
  <div class="col-7 m-0 h-100 d-flex flex-column">
    <div class="app-view__title py-3 px-2"> Companies </div>
    <mat-card class="d-flex flex-column mat-elevation-z8 flex-grow-1" style="height: 5px;">
      <div class="px-4 row m-0 d-flex align-items-center justify-content-between">
        <mat-form-field appearance="standard" class="col-7 col-lg-5">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Start typing to search..." #input>
        </mat-form-field>
        <button mat-flat-button color="primary" class="col-4 col-lg-2">
          <mat-icon>add</mat-icon>
          Add
        </button>
      </div>
    
      <div class="overflow-auto flex-grow-1">
        <table mat-table [dataSource]="companies" class="w-100"
          matSort matSortActive="id" matSortDisableClear matSortDirection="asc">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
    
          <!-- Web address Column -->
          <ng-container matColumnDef="web">
            <th mat-header-cell *matHeaderCellDef> Web address </th>
            <td mat-cell *matCellDef="let element"> {{element.web}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]" aria-label="Select page of users"></mat-paginator>
    </mat-card>
  </div>
</div>