<div class="row m-0 p-0 h-100">
  <div
    class="employees-container transition-container m-0 p-0 h-100 d-flex flex-column d-md-flex"
    [class.col-12]="!selectedEmployee"
    [class.col-7]="selectedEmployee"
    [class.d-none]="selectedEmployee"
  >
    <div class="app-view__title py-3 px-2"> Employees </div>
    <mat-card class="d-flex flex-column h-100 mat-elevation-z8 px-0 flex-grow-1">
      <div class="px-4 row m-0 d-flex align-items-center justify-content-between">
        <mat-form-field appearance="standard" class="col-7 col-lg-3">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Start typing to search..." #input>
        </mat-form-field>
        <button mat-flat-button color="primary" class="col-3 col-lg-2">
          <mat-icon>add</mat-icon>
          Add
        </button>
      </div>
  
      <div class="flex-grow-1 overflow-auto">
        <table mat-table [dataSource]="employees" class="w-100"
          matSort matSortActive="id" matSortDisableClear matSortDirection="asc">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
    
          <!-- E-mail Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- E-mail Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
        
          <!-- Phone Number Column -->
          <ng-container matColumnDef="phone_number">
            <th mat-header-cell *matHeaderCellDef> Phone number </th>
            <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
          </ng-container>
        
          <!-- Availability Column -->
          <ng-container matColumnDef="availability">
            <th mat-header-cell *matHeaderCellDef> Availability </th>
            <td mat-cell *matCellDef="let element"> {{element.availability}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr
            mat-row
            (click)="onRowSelect(row)"
            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"
            [ngClass]="{ 'table__row--hovered': row.hovered, 'table__row--highlighted': selection.isSelected(row) }"
            *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]" aria-label="Select page of users"></mat-paginator>
    </mat-card>
  </div>
  <div class="employee-details-container col-12 col-md-5 d-flex flex-column" *ngIf="selectedEmployee">
    <div class="app-view__title py-3 px-2"> Employee Details </div>
    <mat-card class="flex-grow-1 mat-elevation-z8">
      <span class="d-block d-md-none">Back arrow</span>
      <div class="h1 text-center">{{ selectedEmployee.name }}</div>
    </mat-card>
  </div>
</div>