<div class="mt-5 d-flex flex-column align-items-center">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content class="mt-4 w-75">
    <form class="d-flex flex-column align-items-center" [formGroup]="loginForm">
      <mat-form-field class="w-100 mt-3" appearance="fill" (ngSubmit)="onLogin()" name="loginForm">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="email" matInput type="email" formControlName="email" required />
      </mat-form-field>
      <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
        Required email address 
      </mat-error>
      <mat-form-field class="w-100 mt-3" appearance="fill">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
        <button math-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Passowrd'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
        Required Password
      </mat-error>
      <button mat-flat-button color="primary" type="button" class="w-100 mt-4" (click)="onLogin()" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
  </mat-card-content>
</div>