<div class="mt-5 d-flex flex-column align-items-center">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content class="mt-4 w-75">
    <!-- <form class="d-flex flex-column align-items-center">
    </form> -->
    <mat-form-field class="w-100 mt-3" appearance="fill">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="email" matInput type="email">
    </mat-form-field>
    <mat-form-field class="w-100 mt-3" appearance="fill">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="password" matInput type="password">
    </mat-form-field>
    <button mat-flat-button color="primary" type="button" class="w-100 mt-4" (click)="onLogin()">
      Login
    </button>
  </mat-card-content>
</div>