<div class="login-layout h-100 w-100 p-4 d-flex align-items-center justify-content-end row m-0">
  <div class="h-100 p-3 d-flex flex-column align-items-center col-12 col-lg-7 col-xl-6 col-xxl-4">
    <mat-card class="h-100 w-100">
      <mat-tab-group class="h-100 w-100">
        <mat-tab label="Login">
          <app-login></app-login>
        </mat-tab>
        <mat-tab label="Register">
          <app-register></app-register>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>