html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* =============== SCROLLBAR STYLES =============== */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* =============== STYLE OVERRIDES =============== */
.mat-tab-header {
  user-select: none;
}

.mat-card {
  border-radius: 20px !important;
}

/* =============== GENERAL STYLES =============== */
.spacer {
  flex: 1 1 auto;
}

.overflow-auto {
  overflow: auto;
}

.app-view__title {
  font-size: 1.75rem;
  border-bottom: 2px solid blue;
  width: fit-content;
  margin-bottom: 15px;
  user-select: none;
}

.table__row{
  &--hovered,
  &--highlighted {
    color: black;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
  }
}

.transition-container {
  transition: width 0.1s ease-in;
}